@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ABABAB;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9a9a9a;
}


* {
  /* scrollbar-width: thin; */
  scrollbar-color: #ABABAB transparent;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}